body {
    background-color:aqua;
}

p {
    color: brown;
}

#para1 {
        color: red;
}

.para2 {
    color: red;
}

p.para3 {
    color: blueviolet;
}

h1, h2, p1 {
    text-align: center;
    color: red;
}